<!--$Diogenes: video-js.html 0.1 2020/05/13 05:20:00 geoghegan $-->

<div class="col-sm-12 col-md-12 col-lg-6 item"><video id="FRIENDLY_NAME" width="100%" height="100%" poster="img/poster.jpg" controls></video></div>

<script>

  // Default values in comments
  var hlsConfig = {
    debug: true, // false
    liveSyncDurationCount: 1, // 3
    liveBackBufferLength: 300, // infinity
    enableWebVTT: false, // true
    enableCEA708Captions: false, // true
  };

  var video = document.getElementById('FRIENDLY_NAME');
  if (Hls.isSupported()) {
    var hls = new Hls(hlsConfig);
    hls.loadSource('/hls/FRIENDLY_NAME/FRIENDLY_NAME_.m3u8');
    hls.attachMedia(video);
//    hls.on(Hls.Events.MANIFEST_PARSED, function() {
//      video.play();
//    });
  }

  // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
  // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
  // This is using the built-in support of the plain video element, without using hls.js.
  // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
  // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = '/hls/FRIENDLY_NAME/FRIENDLY_NAME_.m3u8';
//    video.addEventListener('loadedmetadata', function() {
//      video.play();
//    });
  }

</script>
